<div>
    <input placeholder="New PC/NPC" type="text" #newName>
    <button (click)="addPc(newName.value); newName.value=''">Add!</button>
</div>

<h4> Player list </h4>
<li *ngFor="let player of players ; let i = index">
    <button (click)="roll(player)">ROLL</button>{{ i+1 }}) {{ player.name }}
    <button (click)="remove(player)">Remove</button>
</li>

<h4> Order list </h4>
<ul>
    <li *ngFor="let player of orderedPlayers ; let i = index">
        {{ i+1 }}) {{ player.name }} {{ player.rolled }}
    </li>
</ul>